<h2>Celebrities</h2>
<a href="/">Back</a>

{{#each celebrities}}
  <div>
    <a href="{{name}}">{{name}}</a>
    {{!-- <h3>Celebrity: {{name}}</h3>
    <p>Occupation: {{occupation}}</p>
    <p>Catchphrase: {{catchPhrase}}</p> --}}
  </div>
{{/each}}